
@media   (max-width: 1000px){
    .container {
        grid-template-columns: 45% 5% 30% 20%;
        grid-template-rows: repeat(5, 10%) 25% 25%;
        grid-template-areas:
        "ac ac js events"
        "ac ac js events"
        "ac ac js blog"
        "ac ac js blog"
        "ac ac js contacts"
        "java java php php"
        "qa qa net net";
    }
}
